{% extends "_layouts/page.html" %}
{% from "_macros.html" import camp_nav, csrf_meta, css, js %}
{% block title %}{{ activity.title }} – {{ camp.name }}{% endblock %}
{% block header_nav %}{{ camp_nav(camp, "overview") }}{% endblock %}

{% block cp_head %}
  {{ css('vendor/codemirror@5.65.18/lib/codemirror.css') }}
  {{ css('css/components.css') }}
  {{ css('css/activity-detail.css') }}
  {{ csrf_meta() }}
{% endblock %}

{% block cp_content %}
  {# activity-detail.js renders the header + all sections into here from the JSON below.
     Editing affordances are gated by data.may_edit; mutations go to the api endpoints. #}
  <div id="cp-activity"></div>

  <script id="cp-activity-data" type="application/json">{{ data | tojson }}</script>
{% endblock %}

{% block cp_scripts %}
  {{ js('vendor/markdown-it@14.1.0/markdown-it.min.js') }}
  {{ js('vendor/codemirror@5.65.18/lib/codemirror.js') }}
  {{ js('vendor/codemirror@5.65.18/mode/markdown/markdown.js') }}
  {{ js('vendor/codemirror@5.65.18/addon/edit/continuelist.js') }}
  {{ js('js/dom.js') }}
  {{ js('js/fuzzy.js') }}
  {{ js('js/material-need.js') }}
  {{ js('js/slot-orgs.js') }}
  {{ js('js/md-editor.js') }}
  {{ js('js/todo-list.js') }}
  {{ js('js/history-feed.js') }}
  {{ js('js/activity-detail.js') }}
{% endblock %}
