{% extends "_layouts/page.html" %}
{% from "_macros.html" import camp_nav, csrf_meta, css, js %}
{% block title %}Materiál – {{ camp.name }}{% endblock %}
{% block header_nav %}{{ camp_nav(camp, "materials") }}{% endblock %}

{% block cp_head %}
  {{ css('css/components.css') }}
  {{ css('css/materials.css') }}
  {{ csrf_meta() }}
{% endblock %}

{% block cp_content %}
  {# materials-overview.js renders the camp-wide table into here from the JSON below.
     Editing affordances are gated by data.may_edit; mutations go to the api endpoints. #}
  <div id="cp-materials"></div>

  <script id="cp-materials-data" type="application/json">{{ data | tojson }}</script>
{% endblock %}

{% block cp_scripts %}
  {{ js('js/dom.js') }}
  {{ js('js/fuzzy.js') }}
  {{ js('js/material-need.js') }}
  {{ js('js/materials-overview.js') }}
{% endblock %}
