{% extends "_layouts/page.html" %}
{% from "_macros.html" import camp_nav, csrf_meta, css, js %}
{% block title %}Úkoly – {{ camp.name }}{% endblock %}
{% block header_nav %}{{ camp_nav(camp, "todos") }}{% endblock %}

{% block cp_head %}
  {{ css('css/components.css') }}
  {{ css('css/todos.css') }}
  {{ csrf_meta() }}
{% endblock %}

{% block cp_content %}
  {# todos-overview.js hands the JSON below to the shared cpTodoList component, which renders
     the filter header + table here. Check/edit/delete go to the api endpoints; edit affordances
     are gated by data.may_edit and re-checked server-side. #}
  <div id="cp-todos"></div>

  <script id="cp-todos-data" type="application/json">{{ data | tojson }}</script>
{% endblock %}

{% block cp_scripts %}
  {{ js('js/dom.js') }}
  {{ js('js/todo-list.js') }}
  {{ js('js/todos-overview.js') }}
{% endblock %}
